.container {
    display: flex;
  align-items: center;
  justify-content: center;
}



.stick {
    
    font-size: 100px;
    text-shadow: 0 0 30px black;
    
    
}

.blackbox {
    display: inline-block;
    background: black;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
margin-top: 140px;
box-shadow: 0 0 30px black;

}
.luz {
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    ;
    
}

.roja {
    background-color: red;
    padding: 10px;
    margin: 10px;
}
.amarilla {
    background-color: yellow; 
     padding: 10px;
    margin: 10px;
}
.verde {
    background-color: green;
    padding: 10px;
    margin: 10px;
}

.brillo {
    box-shadow : 0 0 50px greenyellow
}